*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 60%;
    box-sizing: border-box;
}

body{
    font-family:'Fira Sans', serif;
    color: linen;
    background-color: rgb(20, 30, 40);
    font-size: 2rem;
}

#header-img{
    width: 6%;
    border: 3px solid linen;
    border-radius: 50%;
    margin: 10px 10px;
}

#nav-bar{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(20, 30, 40);
    position: fixed;
    top: 0;
}

nav ul li{
    list-style-type: none;
    margin: auto;
    padding: 0 20px;
    display: inline-block;

}

a, a:visited{
    color: linen;
    text-decoration: none;
}

a:hover{
    color: rgba(250, 240, 230, 0.639);
}

.form{
    text-align: center;
    margin: 2rem;
    margin-top: 8em;
    margin-bottom: 2em;
}

input[type='email']{
    padding: 3px;
    margin: 20px 10px;
    font-weight: bold;
}

input[type='submit']{
    padding: 3px;
    font-weight: bold;
    background-color:rgba(253, 137, 95, 0.962)
}

#about{
    width: 80%;
    margin: auto;
}

p{
    margin-bottom: 2.3rem;
}

#experience{
    text-align: center;
    margin: 6rem auto;
}

#about ul li{
    list-style-type: none;
}

.about li{
    list-style-type: none;
}

.experience{
    margin: 50px auto 40px;  
    display: flex;
    justify-content: center;;
}

#similar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
}

.similar-1, .similar-2, .similar-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.same{
    width: 70%;
    border: 3px solid bisque;
    border-radius: 5px;
}

h3{
    font-size: 1.6rem;
    margin: 20px;
}

button{
    margin: 30px;
    width: 90px;
    height: 30px;
    background-color: bisque;
    border-radius: 20px;
    font-weight: bold;
}

.footer{
    font-size: 1rem;
    margin-top: 40px;
    position: absolute;
    right: 0;
}

.details{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.footer p{
    font-size: 1.1rem;
    color: white;
}

@media only screen and (max-width: 700px) {
    .experience{
        width: 20px;
    }
}