*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 60%;
    box-sizing: border-box;
}

body{
    font-family:'Fira Sans', serif;
    color: linen;
    background-color: rgb(20, 30, 40);
    font-size: 2rem;
}

#header-img{
    width: 6%;
    border: 3px solid linen;
    border-radius: 50%;
    margin: 10px 10px;
}

#nav-bar{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    margin: auto;
    padding: 0 10px;
    display: inline-block;

}

a, a:visited{
    color: linen;
    text-decoration: none;
}

a:hover{
    color: rgba(250, 240, 230, 0.639);
}

.form{
    text-align: center;
    margin: 2rem;
}

input[type='email']{
    padding: 3px;
    margin: 20px 10px;
    font-weight: bold;
}

input[type='submit']{
    padding: 3px;
    font-weight: bold;
    background-color:rgba(253, 137, 95, 0.962)
}

#about{
    width: 80%;
    margin: auto;
    
}

#about ul li{
    list-style-type: none;
}

#similar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.about li{
    list-style-type: none;
}

.experience{
    margin: 50px auto 40px;  
    display: flex;
    justify-content: center;;
}

.same{
    width: 70%;
    border-radius: 5px;
}

h3{
    text-align: center;
    font-size: 1.5rem;
}